


body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: 100vh;
  background-size: 100vw;
  
}
.top-page{
  display: flex;
  text-align: center;
  height: 50px;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 40px;
  font-weight: bolder;
  font-family: monospace;
  
  
}


form{
  color:rgb(162, 199, 200);
  height: 30px;
  align-content: space-around;
  text-align: center;
  
}

.containers{
  display: flex;
  flex-direction: row-reverse;
  min-width: 50vw;
  justify-content: space-between;
  
}

#currency-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1552057426-9f23e61fa7b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  align-content: center;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 3px;
  width: 50%;
  }

.name{
  align-self: center;  
  margin: 5px;
  font-size: 40px;
  

}

.current-price{
  margin: 5px
  font-size: 15px;
  background-color: grey;
  opacity: 75%;
  border-radius:5px;
}

.price-change{
  margin: 5px
}

.high{
  margin: 5px
}

.low{
  margin: 5px;
  border-radius: 5px;

}

.logo{
  margin: 5px;
  height: 50px;
  width: 50px;
}



#hot-coins{
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8ZmlyZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  height: 400px;
  border-radius: 3px;
  font-size: 30px;
  color: white;
  text-align: center;
  width: 25%;
  text-decoration: underline;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.trendName1{
font-size: 22px;
margin: 8px;
margin-top: 50px;

}
.trendName2{
  font-size: 22px;
  margin: 8px;
}
.trendName3{
  font-size: 22px;
  margin: 8px;
}
.trendName4{
  font-size: 22px;
  margin: 8px;
}
.trendName5{
  font-size: 22px;
  margin: 8px;
}
.trendName6{
  font-size: 22px;
  margin: 8px;
}

#news{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color:white;
  flex-basis: auto;
  border-radius: 3px;
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1587302301133-7a3aa8bbce87?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzh8fG5ld3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  flex-basis: 1;
  font:larger;
  font-size: 30px;

}
.news1{
color:white;
margin: 10px;
font-size: 15px;
font: bolder;
background-color: grey;
  opacity: 75%;
  border-radius:5px;
}
.news2{
color: white;
margin:10px;
font-size: 15px;
font: bolder;
background-color: grey;
opacity: 75%;
border-radius:5px;
}
.news3{
color: white;
margin: 10px;
font-size: 15px;
font: bolder;
background-color: grey;
  opacity: 75%;
  border-radius:5px;
}

footer{
  display: flex;
  position: absolute
  bottom: 0;
  height: 20px;
  border-style: solid;
  justify-content: center;
}

button{
  background-color: ivory;
  border-radius: 10px;
}

#select-currency{

  background-color: rgb(178, 233, 230);
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 600px){
  
  body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&auto=format&fit=crop&w=800&q=60");
    background-repeat: repeat-y;
  
  }
  .top-page{
    font-size: 30px;
  }
    .containers{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  
}

#currency-info{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1552057426-9f23e61fa7b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80");
  background-repeat: no-repeat;
  height: 300px;
  text-align: center;
  align-content: center;
  font-size: 12px;
  margin-left: 0;
  width: 100%;
  
}

.name{
  align-self: center;
  color: white;
  margin: 5px;
  background-color: grey;
  opacity: 75%;
  border-radius: 5px;
  
  

}

.current-price{
  margin: 5px
  border-radius: 5px;
}

.price-change{
  margin: 5px
}

.high{
  margin: 5px
}

.low{
  margin: 5px;
  border-radius: 5px;

}

.logo{
  margin: 5px;
  display: flex;
  height: 50px;
  width: 50px;
}



#hot-coins{
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1543005472-1b1d37fa4eae?ixid=MXwxMjA3fDB8MHxzZWFyY2h8N3x8ZmlyZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  width: 100%;
  
}
#news{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 3;
  width: 100%;
  background-size: cover;
  
}
}